{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}

    <header class="breadcrumb">
        <ul class="header-breadcrumb">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="http://noraworld.jp" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a></li>
            <li>&gt;</li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{@blog.url}}" itemprop="url"><span itemprop="title">Noraworld Blog</span></a></li>
            <li>&gt;</li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">About</span></li>
        </ul>
    </header>

    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        {{#if bio}}
            <h2 class="author-bio">{{bio}}</h2>
        {{/if}}
        <div class="author-meta">
            {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<a href="{{website}}" target="_blank"><span class="author-link icon-link">noraworld</span></a>{{/if}}
        </div>
    </section>
{{/author}}
